html {
    background: url('http://217.160.238.101/hwrank/img/background-hs15.jpg');
  	background-position: 50% 50%;
}
body {
	font-family:sans-serif;
}
table {
    width: 100%;
    color: #ff4040;
    background: rgb(20, 20, 20);
    filter: alpha(opacity=70);
    border-style: inset;
    border-width: 2px;
    border-right: 2px;
    border-top: 2px;
    border-color: #ff4040;
}
td {
    	text-align: center;
    	color: #A9A9A9;
    	height:25px;
    	font-size:15px;
}
td p {
    	color:white;
    	font-weight: 700;
    	width:175px;
}
td a {
    font-size:12px;
    position:relative;
    bottom:8px;
    color: #A9A9A9;
}
tr {
    font-size:15px;
}
#h { width:15%;}
#a {
   	height: 35px;
    	background: rgb(83, 84, 95);
}
#b {
    	background: rgb(0, 0, 0);
}

#c, #f {
    	background-repeat: no-repeat;
    	background-position: center;
	width:6%;
}
#c { background-image: url('http://217.160.238.101/hwrank/img/icon-star.png'); }
#f { background-image: url('http://217.160.238.101/hwrank/img/icon-trophy.png'); }

#e {
    margin:auto;
    width:75px;
    text-align:left;
    padding-left:5px;
    color:#d3b35a;
    font-weight:700;
    border-style: inset;
    border-width: 2px;
    border-radius: 5px;
    border-color: #d3b35a;
    background: rgb(6, 6, 6);
}
#e a { 
    top:0;
    left:10px;
    padding-right:10px;
    font-size:15px;
    font-weight:100;
    color:#a9a9a9;
}

#z, #w, #y {
    background-repeat: no-repeat;
    background-position: center;
    width: 7%;
}
#z { background-image: url('http://217.160.238.101/hwrank/img/icon-first.png'); }
#w { background-image: url('http://217.160.238.101/hwrank/img/icon-second.png'); }
#y { background-image: url('http://217.160.238.101/hwrank/img/icon-third.png'); }
    
