html { 
	background-image: url('http://217.160.238.101/hwrank/img/background-stats.jpg');
	background-position: left;
    	background-repeat: relative;
    	background-attachment: fixed;
    	background-size: 100% 100%;
}
body {
    	font-family: sans-serif;
    	font-size: 12px;
    	color: #808080;
    	margin: 0;
        padding: 0;
        height: 100%;
}
table {
    	width: 100%;
}
td {
    	vertical-align: top;
}
#a, #n, #o {
	padding-left:15px;
    	padding-top:15px;
    	padding-right:15px;
}
#a {
    	max-width: 320px;
    	width: 320px; 
    	white-space: nowrap;
}
#a img {
    width: 105px;
    float: left;
    margin: 2px;
    border-radius:5px;
}
#nn, #al, #ar, #at, #au, #ba, #be, #bg, #br, #by, #ca, #ch, #cl, #cn, #co, #cr, #cz, #de, #dk, #dz, #eg, #es, #fi, #fr, #gb, #gr, #hk, #hr, #hu, #id, #il, #in, #ir, #it, #jp, #kr, #kz, #lt, #lv, #ma, #mc, #mk, #mn, #mx, #ne, #ng, #nl, #no, #nz, #pe, #ph, #pk, #pl, #pt, #qa, #ro, #rs, #ru, #se, #sg, #sk, #tr, #tw, #ua, #us, #uy, #ve, #vn, #za
{
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 5px;
	display: inline-block;
}
#nn { background-image: url('http://217.160.238.101/hwrank/img/countries/nn.png'); }
#al { background-image: url('http://217.160.238.101/hwrank/img/countries/al.png'); }
#ar { background-image: url('http://217.160.238.101/hwrank/img/countries/ar.png'); }
#at { background-image: url('http://217.160.238.101/hwrank/img/countries/at.png'); }
#au { background-image: url('http://217.160.238.101/hwrank/img/countries/au.png'); }
#ba { background-image: url('http://217.160.238.101/hwrank/img/countries/ba.png'); }
#be { background-image: url('http://217.160.238.101/hwrank/img/countries/be.png'); }
#bg { background-image: url('http://217.160.238.101/hwrank/img/countries/bg.png'); }
#br { background-image: url('http://217.160.238.101/hwrank/img/countries/br.png'); }
#by { background-image: url('http://217.160.238.101/hwrank/img/countries/by.png'); }
#ca { background-image: url('http://217.160.238.101/hwrank/img/countries/ca.png'); }
#ch { background-image: url('http://217.160.238.101/hwrank/img/countries/ch.png'); }
#cl { background-image: url('http://217.160.238.101/hwrank/img/countries/cl.png'); }
#cn { background-image: url('http://217.160.238.101/hwrank/img/countries/cn.png'); }
#co { background-image: url('http://217.160.238.101/hwrank/img/countries/co.png'); }
#cr { background-image: url('http://217.160.238.101/hwrank/img/countries/cr.png'); }
#cz { background-image: url('http://217.160.238.101/hwrank/img/countries/cz.png'); }
#de { background-image: url('http://217.160.238.101/hwrank/img/countries/de.png'); }
#dk { background-image: url('http://217.160.238.101/hwrank/img/countries/dk.png'); }
#dz { background-image: url('http://217.160.238.101/hwrank/img/countries/dz.png'); }
#eg { background-image: url('http://217.160.238.101/hwrank/img/countries/eg.png'); }
#es { background-image: url('http://217.160.238.101/hwrank/img/countries/es.png'); }
#fi { background-image: url('http://217.160.238.101/hwrank/img/countries/fi.png'); }
#ft { background-image: url('http://217.160.238.101/hwrank/img/countries/ft.png'); }
#gb { background-image: url('http://217.160.238.101/hwrank/img/countries/gb.png'); }
#gr { background-image: url('http://217.160.238.101/hwrank/img/countries/gr.png'); }
#hk { background-image: url('http://217.160.238.101/hwrank/img/countries/hk.png'); }
#hr { background-image: url('http://217.160.238.101/hwrank/img/countries/hr.png'); }
#hu { background-image: url('http://217.160.238.101/hwrank/img/countries/hu.png'); }
#id { background-image: url('http://217.160.238.101/hwrank/img/countries/id.png'); }
#il { background-image: url('http://217.160.238.101/hwrank/img/countries/il.png'); }
#in { background-image: url('http://217.160.238.101/hwrank/img/countries/in.png'); }
#ir { background-image: url('http://217.160.238.101/hwrank/img/countries/ir.png'); }
#it { background-image: url('http://217.160.238.101/hwrank/img/countries/it.png'); }
#jp { background-image: url('http://217.160.238.101/hwrank/img/countries/jp.png'); }
#kr { background-image: url('http://217.160.238.101/hwrank/img/countries/kr.png'); }
#kz { background-image: url('http://217.160.238.101/hwrank/img/countries/kz.png'); }
#lt { background-image: url('http://217.160.238.101/hwrank/img/countries/lt.png'); }
#lv { background-image: url('http://217.160.238.101/hwrank/img/countries/lv.png'); }
#ma { background-image: url('http://217.160.238.101/hwrank/img/countries/ma.png'); }
#mc { background-image: url('http://217.160.238.101/hwrank/img/countries/mc.png'); }
#mk { background-image: url('http://217.160.238.101/hwrank/img/countries/mk.png'); }
#mn { background-image: url('http://217.160.238.101/hwrank/img/countries/mn.png'); }
#mx { background-image: url('http://217.160.238.101/hwrank/img/countries/mx.png'); }
#ne { background-image: url('http://217.160.238.101/hwrank/img/countries/ne.png'); }
#ng { background-image: url('http://217.160.238.101/hwrank/img/countries/ng.png'); }
#nl { background-image: url('http://217.160.238.101/hwrank/img/countries/nl.png'); }
#no { background-image: url('http://217.160.238.101/hwrank/img/countries/no.png'); }
#nz { background-image: url('http://217.160.238.101/hwrank/img/countries/nz.png'); }
#pe { background-image: url('http://217.160.238.101/hwrank/img/countries/pe.png'); }
#ph { background-image: url('http://217.160.238.101/hwrank/img/countries/ph.png'); }
#pk { background-image: url('http://217.160.238.101/hwrank/img/countries/pk.png'); }
#pl { background-image: url('http://217.160.238.101/hwrank/img/countries/pl.png'); }
#pt { background-image: url('http://217.160.238.101/hwrank/img/countries/pt.png'); }
#qa { background-image: url('http://217.160.238.101/hwrank/img/countries/qa.png'); }
#ro { background-image: url('http://217.160.238.101/hwrank/img/countries/ro.png'); }
#rs { background-image: url('http://217.160.238.101/hwrank/img/countries/rs.png'); }
#ru { background-image: url('http://217.160.238.101/hwrank/img/countries/ru.png'); }
#se { background-image: url('http://217.160.238.101/hwrank/img/countries/se.png'); }
#sg { background-image: url('http://217.160.238.101/hwrank/img/countries/sg.png'); }
#sk { background-image: url('http://217.160.238.101/hwrank/img/countries/sk.png'); }
#tr { background-image: url('http://217.160.238.101/hwrank/img/countries/tr.png'); }
#tw { background-image: url('http://217.160.238.101/hwrank/img/countries/tw.png'); }
#ua { background-image: url('http://217.160.238.101/hwrank/img/countries/ua.png'); }
#us { background-image: url('http://217.160.238.101/hwrank/img/countries/us.png'); }
#uy { background-image: url('http://217.160.238.101/hwrank/img/countries/uy.png'); }
#uz { background-image: url('http://217.160.238.101/hwrank/img/countries/uz.png'); }
#ve { background-image: url('http://217.160.238.101/hwrank/img/countries/ve.png'); }
#vn { background-image: url('http://217.160.238.101/hwrank/img/countries/vn.png'); }
#za { background-image: url('http://217.160.238.101/hwrank/img/countries/za.png'); }
#c {
    position: relative;
    margin-top: 7px;
    padding: 9px 20px;
    background: rgba(34, 34, 39, 0.3);
    overflow: hidden;
    box-shadow: 0px 4px 5px rgba(0,0,0,.2);
    border-radius: 10px;
	border-style: inset;
	border-width: 2px;
	border-right: 2px;
	border-top: 2px;
	border-radius: 5px;
	border-color: #9A8547;
}
#a #u:hover { color:white;}
#a #u {
    padding-left:45px;
    padding-top:7px;
	font-size: 13px;
	color: #a9a9a9;
	text-shadow: 0px 1px 3px black;
}
#d {
    	box-shadow: 0px 4px 5px rgba(0,0,0,.2);
    	background-color: #222227;
    	color: #bababb;
}
#a #d {
    overflow:hidden;
 	position: relative;
	padding: 7px 0px 7px 14px;
	height: 110px;
	color: #525252;
	width: calc(100% - 14px);
    border-radius: 10px;
	border-style: inset;
	border-width: 2px;
	border-right: 2px;
	border-top: 2px;
	border-radius: 5px;
	border-color: #00ffff;
}
#a #f:hover { color:white; }
#a #f {
    	font-size: 17px;
    	white-space: nowrap;
    	overflow: hidden;
    	padding-top: 13px;
    	padding-left: 15px;
    	color: #00ffff;
    	font-weight: 700;
}
#a #f #g:hover { color:white; }
#a #f #g {
    	vertical-align: top;
    	display: block;
    	font-size: 13px;
    	color: #b8a365;
}
#sk1:hover { color:white;}
#sk1 {
    margin-top:10px;
    margin-left:125px;
    position:absolute;
    display:block;
    padding-left:5px;
    color: #b8a365;
    font-weight:700;
    border-style: inset;
    border-width: 2px;
    border-radius: 5px;
    border-color: #d3b35a;
    background: rgba(6, 6, 6, 0.5);
}
#sk1 a {
    font-weight:100;
    padding-left:15px;
    padding-right:5px;
    color:#a9a9a9;
}
#s:hover { text-decoration:underline; }
#s {
    position:absolute;
    display:inline-block;
    line-height:20px;
    right:10px;
    bottom:12px;
    background-image: url('http://217.160.238.101/hwrank/img/icon-steam.png');
    background-repeat: no-repeat;
}
#s a
{
    padding-left:25px;
	font-size: 13px;
	color: #a9a9a9;
	text-shadow: 0px 1px 3px black;
}
#n #d {
    position: relative;
    padding: 7px 0px 7px 40px;
    height: 30px;
    color: #525252;
    background-image: url('http://217.160.238.101/hwrank/img/icon-statistics.png');
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 20px;
    border-radius: 10px;
    border-style: inset;
    border-width: 2px;
    border-right: 2px;
    border-top: 2px;
    border-radius: 5px;
    border-color: #00ffff;
}
#n #f:hover { color:white; }
#n #f {
    font-size: 17px;
   	margin: 5px;
   	padding-bottom: 5px;
   	color: #c9c9db;
	font-weight: 700;
}
#o {
    	width:320px;
        max-width: 275px;
        min-width: 275px;
}
#o #d {
    position: relative;
    padding: 7px 0px 7px 50px;
    height: 30px;
    color: #525252;
    background-image: url('http://217.160.238.101/hwrank/img/icon-bestweapons.png');
    background-repeat: no-repeat;
    background-position: 20px;
    border-radius: 10px;
    border-style: inset;
    border-width: 2px;
    border-right: 2px;
    border-top: 2px;
    border-radius: 5px;
    border-color: #00ffff;
}
#o #f:hover { color:white; }
#o #f {
    	font-size: 17px;
    	margin: 5px;
    	padding-bottom: 5px;
    	color: #c9c9db;
    	font-weight: 700;
}
#c #h {
    	display: inline-block;
    	vertical-align: top;
    	margin-left:90px;
    	width: 200px;
    	line-height: 3px;
    	font-size: 12px;
}
#c #h #i:hover { color:white;}
#c #h #i {
	color:#00ffff;
}
#c #h #j {
    	position: relative;
    	width: 50%;
    	height: 9px;
    	background: #363b47;
}
#c #h #j::before {
	box-shadow: 0px 0px 5px rgba(0,0,0,.9);
    	position: absolute;
    	top: 0;
    	left: 0;
    	content: "";
    	width: 5px;
    	height: 100%;
    	background: #00ffff;
}
#c #h #k:hover { color:white;}
#c #h #k {
	color:#b8a365;
    	padding-top:7px;
    	font-weight: 700;
}
#c #g {
    	padding-left: 15px;
    	color: #b8a365;
}
#l p:hover { color:white; }
#l {
    white-space:nowrap;
    position: relative;
    margin-top: 7px;
    padding: 1px 20px;
    background: rgba(34, 34, 39, 0.3);
    box-shadow: 0px 4px 5px rgba(0,0,0,.2);
    border-radius: 10px;
    border-style: inset;
    border-width: 2px;
    border-right: 2px;
    border-top: 2px;
    border-radius: 5px;
    border-color: #9A8547;
}
#l p {
	font-weight:700;
    	font-size:14px;
    	margin-bottom:11px;
    	text-shadow: 1px 0px 5px rgba(0,0,0,.4);
}
#l a {
	font-weight:700;
    	font-size:14px;
    	text-shadow: 1px 0px 5px rgba(0,0,0,.4);
    	padding-left:15px;
    	color:#b8a365;
}
#m {
    position: relative;
    height:68px;
    margin-top: 7px;
    padding: 1px 20px;
    background: rgba(34, 34, 39, 0.3);
    box-shadow: 0px 4px 5px rgba(0,0,0,.2);
    border-radius: 10px;
    border-style: inset;
    border-width: 2px;
    border-right: 2px;
    border-top: 2px;
    border-radius: 5px;
    border-color: #9A8547;
}
#m:hover { color:white; }
#m p {
	text-align: left;
    	font-size:15px;
    	text-shadow: 1px 0px 5px rgba(0,0,0,.4);
    	font-weight:700;
}
#r1:hover, #r2:hover, #r3:hover, #r4:hover, #r5:hover, #r6:hover, #r7:hover, #r8:hover, #r9:hover, #r10:hover, #r11:hover, #r12:hover, #r13:hover, #r14:hover, #r15:hover, #r16:hover, #r17:hover, #r18:hover, #r19:hover, #rn1:hover, #rn2:hover, #rn3:hover, #rn4:hover, #rn5:hover, #rn6:hover, #rn7:hover, #rn8:hover, #rn9:hover, #rn10:hover, #rn11:hover, #rn12:hover, #rn13:hover, #rn14:hover, #rn15:hover, #rn16:hover, #rn17:hover, #rn18:hover, #rn19:hover { color:white;}

#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19, #rn1, #rn2, #rn3, #rn4, #rn5, #rn6, #rn7, #rn8, #rn9, #rn10, #rn11, #rn12, #rn13, #rn14, #rn15, #rn16, #rn17, #rn18, #rn19 {
        position:absolute;
    	display: inline-block;
    	width: 25%;
    	height: 60px;
    	text-align:center;
    	background-repeat: no-repeat;
    	line-height: 110px;
    	font-size: 13px;
    	background-position: center;
    	text-shadow: 0px 1px 3px rgba(0,0,0,.4);
}
#rn1, #rn2, #nr3, #rn4, #rn5, #rn6, #rn7, #rn8, #rn9, #rn10, #rn11, #rn12, #rn13, #rn14, #rn15, #rn16, #rn17, #rn18, #rn19 { right:20;}
#r1, #rn1 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank0.png'); }
#r2, #rn2 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank1.png'); }
#r3, #rn3 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank2.png'); }
#r4, #rn4 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank3.png'); }
#r5, #rn5 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank4.png'); }
#r6, #rn6 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank5.png'); }
#r7, #rn7 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank6.png'); }
#r8, #rn8 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank7.png'); }
#r9, #rn9 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank8.png'); }
#r10, #rn10 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank9.png'); }
#r11, #rn11 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank10.png'); }
#r12, #rn12 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank11.png'); }
#r13, #rn13 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank12.png'); }
#r14, #rn14 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank13.png'); }
#r15, #rn15 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank14.png'); }
#r16, #rn16 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank15.png'); }
#r17, #rn17 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank16.png'); }
#r18, #rn18 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank17.png'); }
#r19, #rn19 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank18.png'); }

#bi:hover, #di:hover, #pd:hover, #mv:hover, #rw:hover { color:white; }
#bi, #di, #pd, #mv, #rw{
	text-shadow: 1px 0px 5px rgba(0,0,0,.4);
	padding-left:30px;
    	font-size:16px;
    	height: 20px;
    	font-weight: 700;
    	background-repeat: no-repeat;
    	color:#808080;
}
#bi { background-image: url('http://217.160.238.101/hwrank/img/mini/icon-c4-explosive.png'); }
#di { background-image: url('http://217.160.238.101/hwrank/img/mini/icon-defuse-kit.png'); }
#pd { background-image: url('http://217.160.238.101/hwrank/img/mini/icon-time.png'); }
#mv { background-image: url('http://217.160.238.101/hwrank/img/mini/icon-star.png'); }
#rw { background-image: url('http://217.160.238.101/hwrank/img/mini/icon-trophy.png'); }

#w0:hover, #w1:hover, #w2:hover, #w3:hover, #w4:hover, #w5:hover, #w6:hover, #w7:hover, #w8:hover, #w9:hover, #w10:hover, #w11:hover, #w12:hover, #w13:hover, #w14:hover, #w15:hover, #w16:hover, #w17:hover, #w18:hover, #w19:hover, #w20:hover, #w21:hover, #w22:hover, #w23:hover, #w24:hover, #w25:hover, #w26:hover { background-size: 100px; background-position-y:-10px;}

#w0, #w1, #w2, #w3, #w4, #w5, #w6, #w7, #w8, #w9, #w10, #w11, #w12, #w13, #w14, #w15, #w16, #w17, #w18, #w19, #w20, #w21, #w22, #w23, #w24, #w25, #w26 {
    	position: relative;
    	line-height: 50px;
    	padding-top: 15px;
    	bottom: 40px;
    	font-size:15px;
    	font-weight: 700;
    	color: #d6be74;
    	text-shadow: 1px 0px 5px rgba(0,0,0,.4);
    	background-repeat: no-repeat;
    	background-position-x:center;
    	background-position-y:-5px;
}

#w1 { background-image: url('http://217.160.238.101/hwrank/img/weapons/knife.png'); }
#w2 { background-image: url('http://217.160.238.101/hwrank/img/weapons/glock18.png'); }
#w3 { background-image: url('http://217.160.238.101/hwrank/img/weapons/usp.png'); }
#w4 { background-image: url('http://217.160.238.101/hwrank/img/weapons/p228.png'); }
#w5 { background-image: url('http://217.160.238.101/hwrank/img/weapons/deagle.png'); }
#w6 { background-image: url('http://217.160.238.101/hwrank/img/weapons/fiveseven.png'); }
#w7 { background-image: url('http://217.160.238.101/hwrank/img/weapons/elite.png'); }
#w8 { background-image: url('http://217.160.238.101/hwrank/img/weapons/m3.png'); }
#w9 { background-image: url('http://217.160.238.101/hwrank/img/weapons/xm1014.png'); }
#w10 { background-image: url('http://217.160.238.101/hwrank/img/weapons/tmp.png'); }
#w11 { background-image: url('http://217.160.238.101/hwrank/img/weapons/mac10.png'); }
#w12 { background-image: url('http://217.160.238.101/hwrank/img/weapons/mp5.png'); }
#w13 { background-image: url('http://217.160.238.101/hwrank/img/weapons/ump45.png'); }
#w14 { background-image: url('http://217.160.238.101/hwrank/img/weapons/p90.png'); }
#w15 { background-image: url('http://217.160.238.101/hwrank/img/weapons/m249.png'); }
#w16 { background-image: url('http://217.160.238.101/hwrank/img/weapons/galil.png'); }
#w17 { background-image: url('http://217.160.238.101/hwrank/img/weapons/famas.png'); }
#w18 { background-image: url('http://217.160.238.101/hwrank/img/weapons/ak47.png'); }
#w19 { background-image: url('http://217.160.238.101/hwrank/img/weapons/m4a1.png'); }
#w20 { background-image: url('http://217.160.238.101/hwrank/img/weapons/sg552.png'); }
#w21 { background-image: url('http://217.160.238.101/hwrank/img/weapons/aug.png'); }
#w22 { background-image: url('http://217.160.238.101/hwrank/img/weapons/scout.png'); }
#w23 { background-image: url('http://217.160.238.101/hwrank/img/weapons/awp.png'); }
#w24 { background-image: url('http://217.160.238.101/hwrank/img/weapons/g3sg1.png'); }
#w25 { background-image: url('http://217.160.238.101/hwrank/img/weapons/sg550.png'); }
#w26 { background-image: url('http://217.160.238.101/hwrank/img/weapons/hegrenade.png'); }


