html {
    background-image: url('http://217.160.238.101/hwrank/img/background-top15.jpg');
  	background-position: 50% 25%;
}
body {
	font-family:sans-serif;
}
table {
    width: 100%;
    color: white;
    background: rgb(20, 20, 20);
    filter: alpha(opacity=70);
    border-style: inset;
    border-width: 2px;
    border-right: 2px;
    border-top: 2px;
    border-color: #9A8547;
}
td {
    	text-align: center;
    	color: #A9A9A9;
    	height:25px;
    	font-size:15px;
}
th {
	color:#d3b35a;
	font-size:15px;
}
td p {
    	color:white;
    	font-weight: 700;
	width: 180px;
}
#a {
   	height: 35px;
	background: rgb(83, 84, 95);
}
#b {
    	background: rgb(0, 0, 0);
}

#c, #d {
    	background-repeat: no-repeat;
    	background-position: center;
    	width: 5%;
}

#c { background-image: url('http://217.160.238.101/hwrank/img/icon-c4-explosive.png'); }
#d { background-image: url('http://217.160.238.101/hwrank/img/icon-defuse-kit.png'); }

#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #r14, #r15, #r16, #r17, #r18, #r19  {
    	background-repeat: no-repeat;
    	background-position: center;
	width:15%;
}

#r1 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank0.png'); }
#r2 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank1.png'); }
#r3 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank2.png'); }
#r4 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank3.png'); }
#r5 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank4.png'); }
#r6 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank5.png'); }
#r7 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank6.png'); }
#r8 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank7.png'); }
#r9 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank8.png'); }
#r10 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank9.png'); }
#r11 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank10.png'); }
#r12 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank11.png'); }
#r13 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank12.png'); }
#r14 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank13.png'); }
#r15 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank14.png'); }
#r16 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank15.png'); }
#r17 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank16.png'); }
#r18 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank17.png'); }
#r19 { background-image: url('http://217.160.238.101/hwrank/img/ranks/rank18.png'); }

#z, #w, #y {
    background-repeat: no-repeat;
    background-position: center;
	width: 7%;
}
#z { background-image: url('http://217.160.238.101/hwrank/img/icon-first.png'); }
#w { background-image: url('http://217.160.238.101/hwrank/img/icon-second.png'); }
#y { background-image: url('http://217.160.238.101/hwrank/img/icon-third.png'); }